@{
    ViewData["Title"] = "Home Page";
}

<div style=" text-align:left">
    <h5 class="display-4"style="padding-bottom:20px">Form parameters parsing demo</h5>
    <ul>
        <li><a asp-controller="CalcService" asp-action="Manual">Manual parsing in single action</a></li>
        <li><a asp-controller="CalcService" asp-action="ManualWithSeparateHandlers">Manual parsing in separate actions</a></li>
        <li><a asp-controller="CalcService" asp-action="ModelBindingInParameters">Model binding (parameters)</a></li>
        <li><a asp-controller="CalcService" asp-action="ModelBindingInSeparateModel">Model binding (separate model)</a></li>

    </ul>
</div>
