@{
    ViewData["Title"] = "Home Page";
}

<div style=" text-align:left">
    <h5 class="display-4"style="padding-bottom:20px">Calc Service Demonstration</h5>
    <ul>
        <li><a asp-controller="CalcService" asp-action="Model">Using ViewModel Calc</a></li>
        <li><a asp-controller="CalcService" asp-action="Vdata">Using ViewData Calc</a></li>
        <li><a asp-controller="CalcService" asp-action="VBag">Using ViewBag Calc</a></li>
        <li><a asp-controller="CalcService" asp-action="ServiceInjection">Using Service Injection</a></li>

    </ul>
</div>
